*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
background: url(taller.jpg);
}


.contenedor_preguntas
{
    background: rgba(0,0,0,.7);
    color: #fff;
    border-radius: 5px;
    margin: auto;
    width:700px ;
    height:auto;
    border-radius: 5px;
    margin-bottom: 10px ;
    padding-bottom: 25px;
}


input
{
    background: rgba(0,0,0,.5);
    width: 25%;
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 20px 0;
    border-bottom: 4px solid #4381C1;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    color: aliceblue;
    margin-top: 20px;
    transition: all .5s ease;
}


input:focus
{
    border-bottom: 4px solid #104386; 
}


.menu
{
    margin: 20px;
    height: 100%; 
}



.menu span{
    float: left;
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    padding-top: 35px;
    padding-left: 10px;
   margin-bottom: 15px; 
}


.menu_principal .contenedor_preguntas h1
{
    float: left;
   font-size: 28px;   
   margin-left: 250px;
   margin-top: 25px;
   width: 100%;
   height: 50px;
}


#areaResultado
{
    background: #fff;
    font-family:  'Roboto', sans-serif;    
    font-size: 16px;
    height: 50px;
    width: 50%;
    border-radius: 5px;   
    color: #0178ff;
}


#resultado4
{
    background: #fff;
    width: 150%;
    overflow: hidden;
    height: 50px;
    border-radius: 5px;
}


button
{
    width: 150px;
    margin-bottom: 10px;
    background: #4381C1;
    color:#fff ;
    border:none ;
    border-radius: 6px;

    padding: 10px 0;
    font-weight: normal;
    font-family:  'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}


 button :hover
{
    background: rgba(18, 189, 89, 0.6);
}


.marca{
    color: antiquewhite;
    font-size: 20px;
    
}


.link
{
    text-decoration: none;
    color: #fff;
    background: #4381C1;
    width: 150px;   
    padding: 10px 10px 10px 10px;
    border-radius: 10px; 
    font-family:  'Roboto', sans-serif;  
    font-size: 16px;    
}